@import "../variables/variables";

@mixin accion-turbo {
    display: flex;
    justify-content: space-between;
}

@mixin fuentes{
    font-family: $tipo-de-letra;
    line-height: 1.5;
    font-style: italic;
    font-weight: hold;
    
}
@mixin anclas {
    text-decoration: none;
    font-family: $tipo-de-letra;
    color: $white;
    
}